
@{
    ViewData["Title"] = "UpdateSuccess";
}

<h1>UpdateSuccess</h1>

<div class="container">
    <h2>Update Successful</h2>
    <p>The item has been successfully updated.</p>
    <a asp-action="Index" asp-controller="Dynamo" class="btn btn-primary">Back to Home</a>
</div>