@model ItemUpdateModel
@{
    ViewData["Title"] = "UpdateData";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h2 class="card-title">Updating Data in DynamoDB Table</h2>
                </div>
                <form role="form" asp-antiforgery="true" asp-action="UpdateItem" asp-controller="Dynamo" method="post">
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input type="text" class="form-control" asp-for="Name" placeholder="Enter Name" readonly>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Age"></label>
                            <input type="text" class="form-control" asp-for="Age" placeholder="Enter Age" readonly>
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address"></label>
                            <input type="text" class="form-control" asp-for="Address" placeholder="Enter Address">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber"></label>
                            <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="Enter Phone Number">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
